@using WebForum.Models;
@model List<Post>;

@{
	this.ViewData["PageTitle"] = "Home";
	this.ViewData["CreatedAtText"] = "Cteared at:";
}

<div class="w3-row-padding">
	<div class="w3-col m12">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<p>Most recent posts</p>
				@{
					int counter = 0;
					foreach (var post in this.Model)
					{
						counter++;
						if (counter > 3)
						{
							break;
						}
						<div class="w3-panel w3-leftbar w3-sand w3-serif w3-medium w3-margin-left w3-margin-right w3-card w3-round">
							<div class="w3-container w3-card">
								@post.Autor.Username
								<span class="w3-right w3-opacity">@post.CreatedAt</span><br>
							</div>
							<p>@post.Title</p>
							<p>@post.Content</p>

						</div>
					}

				}
			</div>
		</div>
	</div>

</div>
<br />
<div class="w3-row-padding">
	<div class="w3-col m12">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<p>Most commented posts</p>
				@{

					for (int i = 3; i < this.Model.Count; i++)
					{
						var post = this.Model[i];
						<div class="w3-panel w3-leftbar w3-sand w3-serif w3-medium w3-margin-left w3-margin-right w3-card w3-round">
							<div class="w3-container w3-card">
								@post.Autor.Username
								<span class="w3-right w3-opacity">@post.CreatedAt</span><br>
							</div>
							<p>@post.Title</p>
							<p>@post.Content</p>

						</div>
					}
				}
			</div>
		</div>
	</div>

</div>
