@model WebForum.Models.Tag;

@{
	this.ViewData["PageTitle"] = "Edit Tag";
	this.ViewData["Action"] = "Edit";
	this.ViewData["ButtonText"] = "Edit";
	this.ViewData["TitleVisibility"] = "block";
}


<div class="w3-row-padding">
	<div class="w3-col m12">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<h3 class="w3-opacity">@this.ViewData["Action"]</h3>
				<hr class="w3-clear">
				<form asp-controller="Tag" asp-action="@this.ViewData["Action"]" method="post">
					<div>
						<div>
							<div style="display: @this.ViewData["TitleVisibility"]">
								<label asp-for="Name" class="w3-opacity"></label><br />
								@{
									if (ViewData["ErrorMessage"] != null)
									{
										<span style="color: Red">@ViewData["ErrorMessage"]</span>
									}
								}

								<span asp-validation-for="Name" class="form-error" style="color: Red"></span>
								<input asp-for="Name" type="text" class="w3-border w3-padding w3-input" /><br />
							</div>
						</div>


						<div>
							<input type="submit" value="@this.ViewData["ButtonText"]" class="w3-button w3-theme w3-margin-top w3-round" />
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>



