@using WebForum.Models
@model Post
@{
	this.ViewData["PageTitle"] = "Details";
	this.ViewData["CreatedAtText"] = "Created at:";
}
	
<div class="w3-container w3-card w3-white w3-round w3-margin">
	<br>
	<img src="~/images/avatars/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
	<span class="w3-right w3-opacity">@this.ViewData["CreatedAtText"] <br>@this.Model.CreatedAt</span>
	<h4>@this.Model.Autor.Username</h4><br>
	<hr class="w3-clear">
	<div class="w3-container w3-light-grey w3-card">
		<h5>@this.Model.Title</h5>
		<a asp-controller="Posts" asp-action="Edit" , asp-route-id="@this.Model.Id" class="w3-tag w3-small w3-theme-l3 w3-hover-blue-gray"><i class="fa fa-pencil">&nbsp;Edit</i></a>
		<a asp-controller="Posts" asp-action="Delete" , asp-route-id="@this.Model.Id" class="w3-tag w3-small w3-theme-l3 w3-hover-blue-gray"><i class="fa fa-trash">&nbsp;Delete</i></a>
	</div>

	<div class="w3-container w3-medium w3-card w3-round">
		<p>@this.Model.Content</p>
	</div>

	@{
		if (this.Model.Comments.Count < 1)
		{
			<p class="w3-tag w3-small w3-theme-l5">No Comments</p>
		}
		else
		{
			<p class="w3-tag w3-small w3-theme-l5">Comments:</p>
		}
		foreach (var comment in this.Model.Comments)
		{
			<div class="w3-panel w3-leftbar w3-sand w3-serif w3-medium w3-margin-left w3-margin-right">
				<div class="w3-container w3-card">
					@comment.Autor.Username
					<span class="w3-right w3-opacity">@comment.CreatedAt</span><br>
				</div>
				<p>@comment.Content</p>
				<span class="w3-right w3-opacity"><a class="w3-tag w3-small w3-theme-l3 w3-hover-blue-gray w3-card w3-round"><i class="fa fa-thumbs-up"></i>&nbsp;@comment.Likes</a></span>

			</div>

		}
	}

	<div class="w3-row-padding" style="margin:0 -16px">
		<div class="w3-half">
			@*<a asp-controller="Posts" asp-action="ToggleLike" class="w3-button w3-theme-d1 w3-margin-bottom w3-round"><i class="fa fa-thumbs-up"></i>&nbsp;@post.Likes</a>*@
			<button class="like-button w3-button w3-theme-d1 w3-margin-bottom w3-round" data-post-id="@this.Model.Id" data-likes="@this.Model.Likes">
				<i class="fa fa-thumbs-up"></i>&nbsp;<span class="like-count">@this.Model.Likes</span>
			</button>
			<div class="w3-dropdown-hover w3-hide-small">
				<i class="fa fa-thumbs-up"></i>&nbsp;<span class="like-count">@this.Model.Likes</span>
				<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
					@foreach (var person in this.Model.LikePosts)
					{
						<p class="w3-bar-item">@person.User.Username</p>
					}
				</div>
			</div>

			<a class="w3-button w3-theme-d2 w3-margin-bottom w3-round"><i class="fa fa-comment"></i>&nbsp;Comment</a>
		</div>
		<div class="w3-half">
			
		</div>
	</div>

</div>