
@using WebForum.Models
@model Post
@{
	this.ViewData["PageTitle"] = "Details";
}
		<h2>@this.Model.Title</h2>

		<p class="margin12">Title: @this.Model.Title</p>
		<p class="margin12">Content: @this.Model.Content</p>
		<p class="margin12">Created by: @this.Model.Autor.Username</p>

		<h4>Comments</h4>

		<ul>

			@{
				foreach (var comment in this.Model.Comments)
				{
					<li class="margin12">@comment.Autor.Username | @comment.Content</li>
				}
			}

		</ul>
		<h4>Likes</h4>

		<ul>

			@{
				foreach (var likes in this.Model.LikePosts)
				{
					<li class="margin12">@likes.User.Username liked this post</li>
				}
			}

		</ul>

		<a asp-controller="Posts" asp-action="Index" class="nav">Go Back</a>
	