@using WebForum.Models;
@model List<Post>;
@{
	this.ViewData["PageTitle"] = "Posts";
}

<h2>Posts</h2>
<a asp-controller="Posts" asp-action="Create">Create Post</a>
<div class="table">
	<div class="header">
		<div class="header-cell">Title</div>
		<div class="header-cell">Content</div>
		<div class="header-cell">Autor</div>
		<div class="header-cell">Actions</div>
	</div>

	@{
		foreach (var post in this.Model)
		{
			<div class="row">
				<div class="cell">@post.Title</div>
				<div class="cell">@post.Content</div>
				<div class="cell">@post.Autor.Username</div>
				<div class="cell">
					<a asp-controller="Posts" asp-action="Details" , asp-route-id="@post.Id" class="nav">Details</a>
					<a asp-controller="Posts" asp-action="Edit" , asp-route-id="@post.Id" class="nav">Edit</a>
					<a asp-controller="Posts" asp-action="Delete" , asp-route-id="@post.Id" class="nav">Delete</a>
				</div>
			</div>
		}
	}
</div>